.panel-wrap.top-line
    .head
        .small-title Положение
        .control
            a.four(href='#')
            a.one.active(href='#')
    .move-wrap
        table.move-field
            tbody
                tr
                    td.active(data-x='0' data-y='0')
                    td(data-x='1' data-y='0')
                    td(data-x='2' data-y='0')
                tr
                    td(data-x='0' data-y='1')
                    td(data-x='1' data-y='1')
                    td(data-x='2' data-y='1')
                tr
                    td(data-x='0' data-y='2')
                    td(data-x='1' data-y='2')
                    td(data-x='2' data-y='2')

        .move-spinner
            .pos-x
                label X
                .spinner#board-x 0
                .spinner-group
                    a.ico-in_arrow-up(href='#q' data-direction='right')
                    a.ico-in_arrow-down(href='#q' data-direction='left')
            .pos-y
                label Y
                .spinner#board-y 0
                .spinner-group
                    a.ico-in_arrow-up(href='#q' data-direction='bottom')
                    a.ico-in_arrow-down(href='#q' data-direction='top')

