script(src="http://yastatic.net/jquery/1.11.1/jquery.min.js")
script window.jQuery || document.write('<script src="scripts/vendor/jquery-1.11.1.min.js"><\/script>')
script(src="scripts/vendor/jquery.ui.widget.js")
script(src="scripts/vendor/jquery-ui.drag.min.js")
script(src="scripts/vendor/jquery.iframe-transport.js")
script(src="scripts/vendor/jquery.fileupload.js")
script(src="http://yastatic.net/share/share.js")
script(src="scripts/app.js")

