.soc-lang-panel
  ul.language-panel
    li: a(href='#q') РУС
    li: a(href='#q') ENG

  ul.social-panel
    li.control.ico_like
    li: a.ico_fb(href='#a' title='facebook')
    li: a.ico_tw(href='#a' title='twitter')
    li: a.ico_vk(href='#a' title='Вконтакте')
