.soc-lang-panel
  ul.language-panel
    li: a(href='#q') РУС
    li: a(href='#q') ENG

  ul.social-panel
    li.control.ico_like
    li.ico_fb.yashare-auto-init(data-yashareLink="http://pangur.bget.ru/" data-yashareType="none" data-yashareQuickServices="facebook")
    li.ico_tw.yashare-auto-init(data-yashareLink="http://pangur.bget.ru/" data-yashareType="none" data-yashareQuickServices="twitter")
    li.ico_vk.yashare-auto-init(data-yashareLink="http://pangur.bget.ru/" data-yashareType="none" data-yashareQuickServices="vkontakte")
