.panel-wrap
  .upload
    form(method="post")
        .upload__pic
            label.small-title.upload-name Исходное изображение
            .form-group
                .upload-wrapper Загрузите изображениe
                .upload-btn
                    .ico_download
                input(type="file" name="img").fileupload
        .upload__pic.disabled
            label.small-title.upload-name Водяной знак
            .form-group
                .upload-wrapper Загрузите изображениe
                .upload-btn
                    .ico_download
                input(type="file" name="wm").fileupload.disabled-input
