.panel-wrap
  .upload
    form(method="post")
        each label in ['Исходное изображение' , 'Водяной знак']
            .upload__pic
                label.small-title.upload-name= label
                .form-group
                    input(type="file" name="userfile" id =label).fileupload
                    .upload-wrapper Загрузите изображение
                    .upload-btn
                        .ico_download
