.panel-wrap
  .upload
    form(method="post")
        .upload__pic
            label.small-title.upload-name Исходное изображение
            .form-group
                input(type="file" name="userfile").fileupload
                .upload-wrapper Загрузите изображениe
                .upload-btn
                    .ico_download
        .upload__pic
            label.small-title.upload-name Водяной знак
            .form-group
                input(type="file" name="userfile2").fileupload
                .upload-wrapper Загрузите изображениe
                .upload-btn
                    .ico_download
