doctype html
html
    include modules/head.jade
    body
        .wrapper
            .container
                .main
                    .case
                        h1.h1 Генерация водяных знаков
                        .work-area
                            //- Область для работы с изображениями
                            .img-area
                                img#img(src="http://lorempixel.com/500/400/")
                                img#wm.wm(src="http://placehold.it/100x100")
                .side-panel
                    .case
                        h2.h2 Настройки
                        include modules/upload-pic
                        include modules/move-watermark
                        //- Прозрачность
        include modules/footer.jade
        include modules/social-lang.jade
        include modules/scripts.jade