doctype html
html
    include modules/head.jade
    body
        .wrapper
            .container
                .main
                    .case
                        h1.h1 Генерация водяных знаков
                        .work-area
                            //- Область для работы с изображениями
                            img(src="http://lorempixel.com/200/400/cats/2")
                            img.wathermark(src="http://lorempixel.com/100/100/cats/3")
                .side-panel
                    .case
                        h2.h2 Настройки
                        include modules/upload-pic
                        //- Положение
                        //- Прозрачность
        include modules/footer.jade
        include modules/social-lang.jade
        include modules/scripts.jade