doctype html
html
    include modules/head.jade
    body
        .wrapper
            .container
                .main
                    h1.h1 Генерация водяных знаков
                    .work-area
                        .img-area
                            img#img(src='/images/123.jpg')
                            img#wm.wm(src='/images/log.jpg')

                .side-panel
                    h2.h2 Настройки
                    include modules/upload-pic
                    include modules/move-watermark
                    include modules/transparency
                    include modules/buttons
        include modules/footer.jade
        include modules/social-lang.jade
        include modules/scripts.jade