doctype html
html
    include modules/head.jade
    body
        .wrapper
            .container
                .main
                    h1.h1 Генерация водяных знаков
                    .work-area
                        .img-area
                .side-panel
                    h2.h2 Настройки
                    include modules/upload-pic
                    include modules/move-watermark
                    include modules/transparency
                    include modules/buttons
        include modules/footer.jade
        include modules/social-lang.jade
        .loader-l
            .loader
        include modules/scripts.jade