// ========================= //
// Containers                //
// ========================= //


.wrapper{
  box-sizing: content-box;
  width: 960px;
  margin: 60px auto;
  padding: 0px 10px;
}

.container{
  display: table;
  height: 670px;
}

.case{
  position: relative;
  height: 100%;
}
