// ========================= //
// Base styles               //
// ========================= //

*{
  box-sizing: border-box;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  font-family: $font-family-base;
  background: fixed #fff url(/images/bg_main.png);
  background-size: cover;
}

a{
  text-decoration: none;
  color: inherit;
  outline: none;
}