// Utilites ------------------//
@import 'utilites/index';

// Base ----------------------//
@import 'base/index';

// Layout --------------------//
@import 'layout/index';

// Modules -------------------//
@import 'modules/index';


//=================================
// Write here

.main{
  // display: table-cell;
  float: left;
  height: 670px;
  width: 700px;
  padding: 25px;
  background: rgba(46, 54, 65,.64);
}

  .work-area{
    display: table-cell;
    width: 650px;
    height: 535px;
    background: #fff url(/images/bg_work.jpg);
    vertical-align: middle;
    text-align: center;
  }

  .img-area{
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;

    img{
      display: block;
    }

    .wm{
      position: absolute;
      top: 0;
      left: 0;
    }

    .many-wm-wrap{
      position:absolute;
      top:0;
      left:0;

      .many-wm-wrap-item{
        float: left;
      }
    }
  }

.side-panel{
  // display: table-cell;
  float: left;
  width: 260px;
  height: 670px;
  padding: 35px 0px 25px;
  border-left: 1px solid #2E3641;
  background: $color-f1f1f5;
}

  .panel-wrap{
    padding: 17px 20px 32px;
  }

    .top-line{
      position: relative;
      border-top: 1px solid $color-f4c3c2;

      &:before,
      &:after{
        content: '';
        position: absolute;
        top: -1px;
        left: 50%;
        border-color: transparent;
        border-style: solid;
      }

      &:before{
        z-index: 2;
        margin: 0 0 0 -8px;
        border-width: 8px;
        border-top: 7px solid $color-f1f1f5;
      }

      &:after{
        z-index: 1;
        margin: 0 0 0 -10px;
        border-width: 10px;
        border-top: 9px solid $color-f4c3c2;
      }
    }