/******************************
    All The Base styles
*******************************/
/* Reset **********************/
html {
  line-height: 1; }

body, p, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, blockquote, figure, pre, hr {
  margin: 0; }

ul, ol {
  padding: 0;
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, small, big {
  font-size: 100%; }

em, i, address, dfn {
  font-style: normal; }

sub, sup {
  vertical-align: baseline; }

q {
  quotes: '' ''; }

img {
  border: none; }

th {
  padding: 0;
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  padding: 0;
  display: inline-block; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; }

/* Base **********************/
* {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: roboto_light, sans-serif;
  background: fixed #fff url(/images/bg_main.png);
  background-size: cover; }

a {
  text-decoration: none;
  color: inherit;
  outline: none; }

/* Fonts *********************/
@font-face {
  font-family: 'roboto_condensed_light';
  src: url('/fonts/robotocondensed-light.eot');
  src: url('/fonts/robotocondensed-light.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-light.woff2') format('woff2'), url('/fonts/robotocondensed-light.woff') format('woff'), url('/fonts/robotocondensed-light.ttf') format('truetype'), url('/fonts/robotocondensed-light.svg#roboto_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_italic';
  src: url('/fonts/robotocondensed-italic.eot');
  src: url('/fonts/robotocondensed-italic.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-italic.woff2') format('woff2'), url('/fonts/robotocondensed-italic.woff') format('woff'), url('/fonts/robotocondensed-italic.ttf') format('truetype'), url('/fonts/robotocondensed-italic.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_bold_italic';
  src: url('/fonts/robotocondensed-bolditalic.eot');
  src: url('/fonts/robotocondensed-bolditalic.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-bolditalic.woff2') format('woff2'), url('/fonts/robotocondensed-bolditalic.woff') format('woff'), url('/fonts/robotocondensed-bolditalic.ttf') format('truetype'), url('/fonts/robotocondensed-bolditalic.svg#roboto_condensedbold_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_black_italic';
  src: url('/fonts/roboto-blackitalic.eot');
  src: url('/fonts/roboto-blackitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-blackitalic.woff2') format('woff2'), url('/fonts/roboto-blackitalic.woff') format('woff'), url('/fonts/roboto-blackitalic.ttf') format('truetype'), url('/fonts/roboto-blackitalic.svg#robotoblack_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_bold_italic';
  src: url('/fonts/roboto-bolditalic.eot');
  src: url('/fonts/roboto-bolditalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-bolditalic.woff2') format('woff2'), url('/fonts/roboto-bolditalic.woff') format('woff'), url('/fonts/roboto-bolditalic.ttf') format('truetype'), url('/fonts/roboto-bolditalic.svg#robotobold_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_bold';
  src: url('/fonts/roboto-bold.eot');
  src: url('/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-bold.woff2') format('woff2'), url('/fonts/roboto-bold.woff') format('woff'), url('/fonts/roboto-bold.ttf') format('truetype'), url('/fonts/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_bold';
  src: url('/fonts/robotocondensed-bold.eot');
  src: url('/fonts/robotocondensed-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-bold.woff2') format('woff2'), url('/fonts/robotocondensed-bold.woff') format('woff'), url('/fonts/robotocondensed-bold.ttf') format('truetype'), url('/fonts/robotocondensed-bold.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_black';
  src: url('/fonts/roboto-black.eot');
  src: url('/fonts/roboto-black.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-black.woff2') format('woff2'), url('/fonts/roboto-black.woff') format('woff'), url('/fonts/roboto-black.ttf') format('truetype'), url('/fonts/roboto-black.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_light_italic';
  src: url('/fonts/roboto-lightitalic.eot');
  src: url('/fonts/roboto-lightitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-lightitalic.woff2') format('woff2'), url('/fonts/roboto-lightitalic.woff') format('woff'), url('/fonts/roboto-lightitalic.ttf') format('truetype'), url('/fonts/roboto-lightitalic.svg#robotolight_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_light';
  src: url('/fonts/roboto-light.eot');
  src: url('/fonts/roboto-light.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-light.woff2') format('woff2'), url('/fonts/roboto-light.woff') format('woff'), url('/fonts/roboto-light.ttf') format('truetype'), url('/fonts/roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_thin_italic';
  src: url('/fonts/roboto-thinitalic.eot');
  src: url('/fonts/roboto-thinitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-thinitalic.woff2') format('woff2'), url('/fonts/roboto-thinitalic.woff') format('woff'), url('/fonts/roboto-thinitalic.ttf') format('truetype'), url('/fonts/roboto-thinitalic.svg#robotothin_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_regular';
  src: url('/fonts/robotocondensed-regular.eot');
  src: url('/fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-regular.woff2') format('woff2'), url('/fonts/robotocondensed-regular.woff') format('woff'), url('/fonts/robotocondensed-regular.ttf') format('truetype'), url('/fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_light_italic';
  src: url('/fonts/robotocondensed-lightitalic.eot');
  src: url('/fonts/robotocondensed-lightitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-lightitalic.woff2') format('woff2'), url('/fonts/robotocondensed-lightitalic.woff') format('woff'), url('/fonts/robotocondensed-lightitalic.ttf') format('truetype'), url('/fonts/robotocondensed-lightitalic.svg#roboto_condensedlight_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_thin';
  src: url('/fonts/roboto-thin.eot');
  src: url('/fonts/roboto-thin.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-thin.woff2') format('woff2'), url('/fonts/roboto-thin.woff') format('woff'), url('/fonts/roboto-thin.ttf') format('truetype'), url('/fonts/roboto-thin.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_medium_italic';
  src: url('/fonts/roboto-mediumitalic.eot');
  src: url('/fonts/roboto-mediumitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-mediumitalic.woff2') format('woff2'), url('/fonts/roboto-mediumitalic.woff') format('woff'), url('/fonts/roboto-mediumitalic.ttf') format('truetype'), url('/fonts/roboto-mediumitalic.svg#robotomedium_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_medium';
  src: url('/fonts/roboto-medium.eot');
  src: url('/fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-medium.woff2') format('woff2'), url('/fonts/roboto-medium.woff') format('woff'), url('/fonts/roboto-medium.ttf') format('truetype'), url('/fonts/roboto-medium.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal; }

/******************************
    All The Layout styles
*******************************/
/* Grid ***********************/
/* Tools **********************/
.clearfix:before, .send:before, .clearfix:after, .send:after {
  content: "";
  display: table; }

.clearfix:after, .send:after {
  clear: both; }

.clearfix, .send {
  zoom: 1;
  /* Хак для IE 6 и 7 */ }

.move-wrap:after {
  content: '';
  display: table;
  clear: both; }

.upload__pic:last-child {
  margin: 0; }

.work-area:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

/* Container ******************/
.wrapper {
  box-sizing: content-box;
  width: 960px;
  margin: 60px auto;
  padding: 0px 10px; }

.container {
  display: table;
  height: 670px; }

.case {
  position: relative;
  height: 100%; }

/******************************
    All The Modules styles
*******************************/
/* Icons **********************/
[class*="ico_"], [class*="ico-in_"]:after {
  background: url('/images/sprite.png') no-repeat; }

.ico_like, .ico_fb, .ico_tw, .ico_vk {
  width: 40px;
  height: 40px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s; }

.ico_like {
  background-position: -98px -2px; }

.ico_fb {
  background-position: -49px 0; }
  .ico_fb:hover {
    background-position: 0 0; }

.ico_tw {
  background-position: -49px -50px; }
  .ico_tw:hover {
    background-position: 0 -50px; }

.ico_vk {
  background-position: -48px -99px; }
  .ico_vk:hover {
    background-position: 0 -99px; }

.ico_download {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 21px;
  height: 16px;
  background-position: -108px -112px; }

.ico-in_arrow-up, .ico-in_arrow-down {
  position: relative; }
  .ico-in_arrow-up:after, .ico-in_arrow-down:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 8px; }

.ico-in_arrow-up:after {
  background-position: -211px -66px; }
.ico-in_arrow-up:hover:after {
  background-position: -211px -18px; }

.ico-in_arrow-down:after {
  bottom: 0;
  background-position: -161px -18px; }
.ico-in_arrow-down:hover:after {
  background-position: -161px -69px; }

/* Forms **********************/
/* Buttons ********************/
.btn {
  width: 45%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #f1f1f5;
  font: 500 18px roboto_medium;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: -30px;
  border: none; }
  .btn:after {
    display: table;
    content: '';
    clear: both; }
  .btn.btn-reset {
    background-color: #c1cfd9;
    margin-left: -10px;
    float: left; }
  .btn.btn-download {
    background-color: #f97e76;
    margin-right: -10px;
    float: right; }

/* Titles *********************/
.h1 {
  font-size: 36px;
  font-family: roboto_thin;
  color: #fff; }

.h2 {
  font-size: 26px;
  font-family: roboto_medium;
  color: #2e3641;
  text-align: center;
  margin-bottom: 10px; }

.head {
  position: relative;
  margin: 0 0 35px 0; }

.small-title {
  font-size: 14px;
  color: #2e3641; }

/* Footer *********************/
.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer {
  width: 960px;
  margin: auto;
  padding: 15px 0; }

.copy {
  color: #fff;
  font-size: 12px;
  text-align: center; }

/* Social and language panel **/
.soc-lang-panel {
  position: fixed;
  top: 100px;
  left: 0; }
  .soc-lang-panel li {
    background-color: rgba(255, 255, 255, 0.6); }

.language-panel {
  margin: 0 0 18px 0; }
  .language-panel li {
    margin: 0 0 1px 0; }
    .language-panel li a {
      display: block;
      min-width: 43px;
      padding: 9px 4px;
      text-align: center;
      color: #8e9298; }
      .language-panel li a:hover {
        color: #444a53; }

.social-panel {
  position: relative;
  -webkit-transform: translate(-40px, 0);
      -ms-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s; }
  .social-panel:hover {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
    .social-panel:hover .ico_like {
      background-position: -99px -50px; }
  .social-panel .control {
    position: absolute;
    left: 40px; }
  .social-panel li {
    width: 40px;
    height: 40px; }
    .social-panel li a {
      display: block; }

/* Upload files ***************/
.upload__pic {
  margin-bottom: 22px; }

.upload-name {
  display: inline-block;
  margin: 0 0 8px 0; }

.form-group {
  overflow: hidden;
  position: relative;
  display: table;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.fileupload {
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  height: 27px;
  width: 200%;
  cursor: pointer; }
  .fileupload:hover + .upload-wrapper {
    color: #25323a; }

.upload-wrapper {
  display: table-cell;
  width: 100%;
  padding: 7px 4px;
  border: 1px solid #9EB2C0;
  border-right: none;
  font-size: 12px;
  vertical-align: middle;
  border-radius: 3px 0 0 3px;
  color: #9EB2C0;
  -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }

.upload-btn {
  position: relative;
  display: table-cell;
  width: 40px;
  height: 28px;
  background: #f97e76;
  border-radius: 0 3px 3px 0;
  float: right; }

.error {
  border-color: #f97e76;
  color: #800000; }

.disabled {
  opacity: 0.2; }

.disabled-input {
  display: none; }

/* Move watermark *************/
.control {
  position: absolute;
  top: 0;
  right: 0; }
  .control a {
    display: inline-block;
    margin-left: 7px;
    height: 19px;
    width: 19px;
    background: url("../images/sprite_move.jpg") no-repeat 0 0; }
    .control a.one {
      background-position: -29px -28px; }
    .control a.one:hover, .control a.one.active {
      background-position: -29px 0; }
    .control a.four:hover, .control a.four.active {
      background-position: 0 -28px; }

.move-spinner {
  float: right; }
  .move-spinner .pos-x {
    margin-bottom: 12px; }
  .move-spinner label {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    text-align: right; }
  .move-spinner .spinner {
    display: inline-block;
    width: 46px;
    height: 45px;
    margin: 0 2px 0 3px;
    border: 1px solid #9eb2c0;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px; }

.move-field {
  float: left;
  height: 102px;
  width: 102px;
  border-radius: 10px 10px 0 0;
  position: relative; }
  .move-field td {
    width: 34px;
    height: 34px;
    border: 1px solid #9eb2c0;
    background: #dbe1e8;
    -webkit-transition: background 0.2s;
            transition: background 0.2s;
    cursor: pointer; }
    .move-field td:hover, .move-field td.active {
      background: #f97e76; }
  .move-field .many-water-field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .move-field .many-water-field .many-water-field-x, .move-field .many-water-field .many-water-field-y {
      width: 100%;
      height: 34px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute; }
      .move-field .many-water-field .many-water-field-x span, .move-field .many-water-field .many-water-field-y span {
        display: block;
        width: 100%;
        background: #f97e76;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute; }
    .move-field .many-water-field .many-water-field-y {
      width: 34px;
      height: 100%; }
      .move-field .many-water-field .many-water-field-y span {
        height: 100%;
        width: auto; }

.spinner-group {
  display: inline-block;
  vertical-align: middle; }
  .spinner-group a {
    display: block;
    width: 14px;
    height: 19px; }

/*
*  Adding myself
*/
.img-area {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle; }
  .img-area .wm {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .img-area .many-wm-wrap {
    position: absolute;
    top: 0;
    left: 0; }
    .img-area .many-wm-wrap .many-wm-wrap-item {
      float: left; }

/* Transparency ***************/
.range-controls {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  white-space: nowrap; }
  .range-controls .scale {
    width: 218px;
    padding-right: 15px;
    background-color: #dbe1e8;
    cursor: pointer; }
    .range-controls .scale .bar {
      height: 3px;
      width: 0;
      background-color: #9eb2c0; }
    .range-controls .scale .toggle {
      position: absolute;
      top: 20px;
      border: 7px solid #dbe1e8;
      border-radius: 50%;
      background-color: #9eb2c0;
      box-shadow: 0 2px 1px 0 #cfcfcf;
      cursor: pointer;
      padding: 4px;
      margin-left: -4px; }

.main {
  display: table-cell;
  height: 100%;
  width: 700px;
  padding: 25px;
  background: rgba(46, 54, 65, 0.64); }

.work-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 535px;
  background: #fff url(/images/bg_work.jpg);
  text-align: center; }

.side-panel {
  display: table-cell;
  width: 260px;
  height: 100%;
  padding: 35px 0px 25px;
  border-left: 1px solid #2E3641;
  background: #f1f1f5; }

.panel-wrap {
  padding: 17px 20px 32px; }

.top-line {
  position: relative;
  border-top: 1px solid #f4c3c2; }
  .top-line:before, .top-line:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    border-color: transparent;
    border-style: solid; }
  .top-line:before {
    z-index: 2;
    margin: 0 0 0 -8px;
    border-width: 8px;
    border-top: 7px solid #f1f1f5; }
  .top-line:after {
    z-index: 1;
    margin: 0 0 0 -10px;
    border-width: 10px;
    border-top: 9px solid #f4c3c2; }
