/******************************
    All The Base styles
*******************************/
/* Reset **********************/
html {
  line-height: 1; }

body, p, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, blockquote, figure, pre, hr {
  margin: 0; }

ul, ol {
  padding: 0;
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, small, big {
  font-size: 100%; }

em, i, address, dfn {
  font-style: normal; }

sub, sup {
  vertical-align: baseline; }

q {
  quotes: '' ''; }

img {
  border: none; }

th {
  padding: 0;
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  padding: 0;
  display: inline-block; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; }

/* Base **********************/
* {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: roboto_light, sans-serif;
  background: fixed #fff url(/images/bg_main.png);
  background-size: cover; }

a {
  text-decoration: none;
  color: inherit;
  outline: none; }

/* Fonts *********************/
@font-face {
  font-family: 'roboto_condensed_light';
  src: url('/fonts/robotocondensed-light.eot');
  src: url('/fonts/robotocondensed-light.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-light.woff2') format('woff2'), url('/fonts/robotocondensed-light.woff') format('woff'), url('/fonts/robotocondensed-light.ttf') format('truetype'), url('/fonts/robotocondensed-light.svg#roboto_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_italic';
  src: url('/fonts/robotocondensed-italic.eot');
  src: url('/fonts/robotocondensed-italic.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-italic.woff2') format('woff2'), url('/fonts/robotocondensed-italic.woff') format('woff'), url('/fonts/robotocondensed-italic.ttf') format('truetype'), url('/fonts/robotocondensed-italic.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_bold_italic';
  src: url('/fonts/robotocondensed-bolditalic.eot');
  src: url('/fonts/robotocondensed-bolditalic.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-bolditalic.woff2') format('woff2'), url('/fonts/robotocondensed-bolditalic.woff') format('woff'), url('/fonts/robotocondensed-bolditalic.ttf') format('truetype'), url('/fonts/robotocondensed-bolditalic.svg#roboto_condensedbold_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_black_italic';
  src: url('/fonts/roboto-blackitalic.eot');
  src: url('/fonts/roboto-blackitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-blackitalic.woff2') format('woff2'), url('/fonts/roboto-blackitalic.woff') format('woff'), url('/fonts/roboto-blackitalic.ttf') format('truetype'), url('/fonts/roboto-blackitalic.svg#robotoblack_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_bold_italic';
  src: url('/fonts/roboto-bolditalic.eot');
  src: url('/fonts/roboto-bolditalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-bolditalic.woff2') format('woff2'), url('/fonts/roboto-bolditalic.woff') format('woff'), url('/fonts/roboto-bolditalic.ttf') format('truetype'), url('/fonts/roboto-bolditalic.svg#robotobold_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_bold';
  src: url('/fonts/roboto-bold.eot');
  src: url('/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-bold.woff2') format('woff2'), url('/fonts/roboto-bold.woff') format('woff'), url('/fonts/roboto-bold.ttf') format('truetype'), url('/fonts/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_bold';
  src: url('/fonts/robotocondensed-bold.eot');
  src: url('/fonts/robotocondensed-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-bold.woff2') format('woff2'), url('/fonts/robotocondensed-bold.woff') format('woff'), url('/fonts/robotocondensed-bold.ttf') format('truetype'), url('/fonts/robotocondensed-bold.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_black';
  src: url('/fonts/roboto-black.eot');
  src: url('/fonts/roboto-black.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-black.woff2') format('woff2'), url('/fonts/roboto-black.woff') format('woff'), url('/fonts/roboto-black.ttf') format('truetype'), url('/fonts/roboto-black.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_light_italic';
  src: url('/fonts/roboto-lightitalic.eot');
  src: url('/fonts/roboto-lightitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-lightitalic.woff2') format('woff2'), url('/fonts/roboto-lightitalic.woff') format('woff'), url('/fonts/roboto-lightitalic.ttf') format('truetype'), url('/fonts/roboto-lightitalic.svg#robotolight_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_light';
  src: url('/fonts/roboto-light.eot');
  src: url('/fonts/roboto-light.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-light.woff2') format('woff2'), url('/fonts/roboto-light.woff') format('woff'), url('/fonts/roboto-light.ttf') format('truetype'), url('/fonts/roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_thin_italic';
  src: url('/fonts/roboto-thinitalic.eot');
  src: url('/fonts/roboto-thinitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-thinitalic.woff2') format('woff2'), url('/fonts/roboto-thinitalic.woff') format('woff'), url('/fonts/roboto-thinitalic.ttf') format('truetype'), url('/fonts/roboto-thinitalic.svg#robotothin_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_regular';
  src: url('/fonts/robotocondensed-regular.eot');
  src: url('/fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-regular.woff2') format('woff2'), url('/fonts/robotocondensed-regular.woff') format('woff'), url('/fonts/robotocondensed-regular.ttf') format('truetype'), url('/fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensed_light_italic';
  src: url('/fonts/robotocondensed-lightitalic.eot');
  src: url('/fonts/robotocondensed-lightitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/robotocondensed-lightitalic.woff2') format('woff2'), url('/fonts/robotocondensed-lightitalic.woff') format('woff'), url('/fonts/robotocondensed-lightitalic.ttf') format('truetype'), url('/fonts/robotocondensed-lightitalic.svg#roboto_condensedlight_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_thin';
  src: url('/fonts/roboto-thin.eot');
  src: url('/fonts/roboto-thin.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-thin.woff2') format('woff2'), url('/fonts/roboto-thin.woff') format('woff'), url('/fonts/roboto-thin.ttf') format('truetype'), url('/fonts/roboto-thin.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_medium_italic';
  src: url('/fonts/roboto-mediumitalic.eot');
  src: url('/fonts/roboto-mediumitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-mediumitalic.woff2') format('woff2'), url('/fonts/roboto-mediumitalic.woff') format('woff'), url('/fonts/roboto-mediumitalic.ttf') format('truetype'), url('/fonts/roboto-mediumitalic.svg#robotomedium_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_medium';
  src: url('/fonts/roboto-medium.eot');
  src: url('/fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-medium.woff2') format('woff2'), url('/fonts/roboto-medium.woff') format('woff'), url('/fonts/roboto-medium.ttf') format('truetype'), url('/fonts/roboto-medium.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal; }

/******************************
    All The Layout styles
*******************************/
/* Grid ***********************/
/* Tools **********************/
.move-watermark .panel-wrap .move-wrap:after, .move-watermark .panel-wrap .move-wrap .move-field .pane:after, .move-watermark .panel-wrap .move-wrap .move-spinner .pos-x:after, .move-watermark .panel-wrap .move-wrap .move-spinner .pos-y:after {
  content: '';
  display: table;
  clear: both; }

.work-area:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

/* Container ******************/
.wrapper {
  box-sizing: content-box;
  width: 960px;
  margin: 60px auto;
  padding: 0px 10px; }

.container {
  display: table;
  height: 670px; }

.case {
  position: relative;
  height: 100%; }

/******************************
    All The Modules styles
*******************************/
/* Icons **********************/
[class*="ico_"] {
  background: url('/images/sprite.png') no-repeat; }

.ico_like, .ico_fb, .ico_tw, .ico_vk {
  width: 40px;
  height: 40px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s; }

.ico_like {
  background-position: -98px -2px; }

.ico_fb {
  background-position: -49px 0; }
  .ico_fb:hover {
    background-position: 0 0; }

.ico_tw {
  background-position: -49px -50px; }
  .ico_tw:hover {
    background-position: 0 -50px; }

.ico_vk {
  background-position: -48px -99px; }
  .ico_vk:hover {
    background-position: 0 -99px; }

.ico_download {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 21px;
  height: 16px;
  background-position: -108px -112px; }

/* Forms **********************/
.upload__pic {
  margin-bottom: 22px; }

.upload-name {
  display: inline-block;
  margin-bottom: 8px;
  font-family: roboto_light;
  font-size: 14px;
  color: #2e3641; }

.form-group {
  overflow: hidden;
  position: relative;
  display: table; }

.fileupload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 27px; }

.upload-wrapper {
  padding: 7px 4px;
  display: table-cell;
  width: 100%;
  border: 1px solid #9EB2C0;
  border-right: none;
  border-radius: 3px 0 0 3px;
  color: #9EB2C0;
  font-family: "Segoe UI Light";
  font-size: 12px;
  vertical-align: middle; }

.upload-btn {
  position: relative;
  display: table-cell;
  width: 40px;
  height: 28px;
  background: #f97e76;
  border-radius: 0 3px 3px 0;
  float: right; }

/* Buttons ********************/
/* Titles *********************/
.h1 {
  font-size: 36px;
  font-family: roboto_thin;
  color: #fff; }

.h2 {
  font-size: 26px;
  font-family: roboto_medium;
  color: #2e3641;
  text-align: center;
  margin-bottom: 36px; }

/* Footer *********************/
.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer {
  width: 960px;
  margin: auto;
  padding: 15px 0; }

.copy {
  color: #fff;
  font-size: 12px;
  text-align: center; }

/* Social and language panel **/
.soc-lang-panel {
  position: fixed;
  top: 100px;
  left: 0; }
  .soc-lang-panel li {
    background-color: rgba(255, 255, 255, 0.6); }

.language-panel {
  margin: 0 0 18px 0; }
  .language-panel li {
    margin: 0 0 1px 0; }
    .language-panel li a {
      display: block;
      min-width: 43px;
      padding: 9px 4px;
      text-align: center;
      color: #8e9298; }
      .language-panel li a:hover {
        color: #444a53; }

.social-panel {
  position: relative;
  -webkit-transform: translate(-40px, 0);
      -ms-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s; }
  .social-panel:hover {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
    .social-panel:hover .ico_like {
      background-position: -99px -50px; }
  .social-panel .control {
    position: absolute;
    left: 40px; }
  .social-panel li {
    width: 40px;
    height: 40px; }
    .social-panel li a {
      display: block; }

/* Move watermark *************/
.move-watermark {
  border-top: 1px solid #f4c3c2;
  position: relative; }
  .move-watermark .panel-wrap {
    padding-top: 18px !important;
    padding-bottom: 32px !important;
    margin-top: -1px;
    background: url("../images/str_slide.jpg") no-repeat center -1px; }
    .move-watermark .panel-wrap p {
      font-size: 14px;
      color: #2e3641; }
    .move-watermark .panel-wrap .move-wrap {
      padding-top: 40px; }
      .move-watermark .panel-wrap .move-wrap .move-field {
        float: left;
        width: 50%; }
        .move-watermark .panel-wrap .move-wrap .move-field .pane {
          border-radius: 3px;
          overflow: hidden;
          height: 102px;
          width: 102px;
          border: 1px solid #9eb2c0;
          position: relative; }
          .move-watermark .panel-wrap .move-wrap .move-field .pane .pane-wrap {
            position: absolute;
            top: -1px;
            left: -1px;
            width: 104px; }
            .move-watermark .panel-wrap .move-wrap .move-field .pane .pane-wrap a {
              float: left;
              display: block;
              width: 34px;
              height: 34px;
              border-top: 1px solid #9eb2c0;
              border-left: 1px solid #9eb2c0;
              background: #dbe1e8;
              text-indent: -9999px;
              -webkit-transition: background 0.2s;
                      transition: background 0.2s; }
              .move-watermark .panel-wrap .move-wrap .move-field .pane .pane-wrap a:hover, .move-watermark .panel-wrap .move-wrap .move-field .pane .pane-wrap a.active {
                background: #f97e76; }
      .move-watermark .panel-wrap .move-wrap .move-spinner {
        float: left;
        width: 50%;
        padding-left: 27px; }
        .move-watermark .panel-wrap .move-wrap .move-spinner .pos-x, .move-watermark .panel-wrap .move-wrap .move-spinner .pos-y {
          margin-bottom: 12px; }
        .move-watermark .panel-wrap .move-wrap .move-spinner label {
          float: left;
          padding: 15px 8px 0 0; }
        .move-watermark .panel-wrap .move-wrap .move-spinner input {
          float: left;
          width: 46px;
          height: 45px;
          border: 1px solid #9eb2c0;
          border-radius: 3px;
          text-align: center;
          font-size: 24px;
          line-height: 45px; }
        .move-watermark .panel-wrap .move-wrap .move-spinner a.ui-spinner-button {
          display: block;
          cursor: pointer;
          padding-top: 5px;
          height: 22px; }
          .move-watermark .panel-wrap .move-wrap .move-spinner a.ui-spinner-button .ui-icon {
            background: url("../images/sprite-str.jpg") no-repeat 0 0;
            margin-left: 6px;
            color: transparent;
            height: 8px;
            width: 13px;
            display: inline-block;
            -webkit-transition: background 0.2s;
                    transition: background 0.2s; }
            .move-watermark .panel-wrap .move-wrap .move-spinner a.ui-spinner-button .ui-icon:hover {
              background-position: -13px 0; }
          .move-watermark .panel-wrap .move-wrap .move-spinner a.ui-spinner-button.ui-spinner-down {
            padding-top: 10px; }
            .move-watermark .panel-wrap .move-wrap .move-spinner a.ui-spinner-button.ui-spinner-down .ui-icon {
              background-position: 0 -8px; }
              .move-watermark .panel-wrap .move-wrap .move-spinner a.ui-spinner-button.ui-spinner-down .ui-icon:hover {
                background-position: -13px -8px; }
    .move-watermark .panel-wrap ul {
      position: absolute;
      right: 10px;
      top: 10px; }
      .move-watermark .panel-wrap ul li {
        display: inline-block;
        margin-left: 7px; }
        .move-watermark .panel-wrap ul li a {
          display: block;
          height: 19px;
          width: 19px;
          background: url("../images/sprite_move.jpg") no-repeat 0 0;
          text-indent: -9999px; }
          .move-watermark .panel-wrap ul li a.one {
            background-position: -29px -28px; }
          .move-watermark .panel-wrap ul li a.one:hover, .move-watermark .panel-wrap ul li a.one.active {
            background-position: -29px 0; }
          .move-watermark .panel-wrap ul li a.four:hover, .move-watermark .panel-wrap ul li a.four.active {
            background-position: 0 -28px; }

.main {
  display: table-cell;
  height: 100%;
  width: 700px;
  padding: 25px;
  background: rgba(46, 54, 65, 0.64); }

.work-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 535px;
  background: #fff;
  text-align: center; }
  .work-area img {
    vertical-align: middle; }
  .work-area .wrap-watermark {
    position: absolute; }
    .work-area .wrap-watermark img {
      position: absolute; }
      .work-area .wrap-watermark img.left-top {
        top: 10%;
        left: 10%;
        right: auto;
        bottom: auto; }
      .work-area .wrap-watermark img.center-top {
        top: 10%;
        left: 50%;
        right: auto;
        bottom: auto; }
      .work-area .wrap-watermark img.right-top {
        top: 10%;
        left: auto;
        right: 10%;
        bottom: auto; }
      .work-area .wrap-watermark img.left-center {
        top: 50%;
        left: 10%;
        right: auto;
        bottom: auto; }
      .work-area .wrap-watermark img.center-center {
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto; }
      .work-area .wrap-watermark img.right-center {
        top: 50%;
        left: auto;
        right: 10%;
        bottom: auto; }
      .work-area .wrap-watermark img.left-bottom {
        top: auto;
        left: 10%;
        right: auto;
        bottom: 10%; }
      .work-area .wrap-watermark img.center-bottom {
        top: auto;
        left: 50%;
        right: auto;
        bottom: 10%; }
      .work-area .wrap-watermark img.right-bottom {
        top: auto;
        left: auto;
        right: 10%;
        bottom: 10%; }

.side-panel {
  display: table-cell;
  width: 260px;
  height: 100%;
  padding: 35px 0px 25px;
  border-left: 1px solid #2E3641;
  background: #f1f1f5; }
  .side-panel .panel-wrap {
    padding: 0 20px; }

.form {
  position: absolute;
  bottom: 0; }
