.l-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

  .footer{
    width: 960px;
    margin: auto;
    padding: 15px 0;
  }

  .copy{
    color: $color-fff;
    font-size: 12px;
    text-align: center;
  }