// ========================= //
// Forms                     //
// ========================= //

.upload__pic {
  margin-bottom: 22px;
}

.upload-name {
  display: inline-block;
  margin-bottom: 8px;
  font-family: $roboto_300;
  font-size: 14px;
  color: $color-label;
}

.form-group {
  overflow: hidden;
  position: relative;
  display: table;
}

.fileupload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 27px;
}

.upload-wrapper {
  padding: 7px 4px;
  display: table-cell;
  width: 100%;
  border: 1px solid $color-border;
  border-right: none;
  border-radius: 3px 0 0 3px;
  color: $color-border;
  font-family: "Segoe UI Light";
  font-size: 12px;
  vertical-align: middle;
}

.upload-btn {
  position: relative;
  display: table-cell;
  width: 40px;
  height: 28px;
  background: $color-btn;
  border-radius: 0 3px 3px 0;
  float: right;
}

