// ========================= //
// Titles                    //
// ========================= //

.h1{
  margin: 0 0 54px 0;
  font-size: 36px;
  font-family: $roboto_100;
  color: $color-fff;
}

.h2{
  font-size: 26px;
  font-family: $roboto_500;
  color: $color-2e3641;
  text-align: center;
  margin-bottom: 10px;
}

.head{
  position: relative;
  margin: 0 0 35px 0;
}

.small-title{
  font-size: 14px;
  color: $color-label;
}