.control{
  position: absolute;
  top: 0;
  right: 0;

  li{
    display: inline-block;
    margin-left: 7px;

    a{
      display: block;
      height: 19px;
      width: 19px;
      background: url("../images/sprite_move.jpg")no-repeat 0 0;

      &.one{
        background-position: -29px -28px;
      }

      &.one:hover,
      &.one.active{
        background-position: -29px 0;
      }

      &.four:hover,
      &.four.active{
        background-position: 0 -28px;
      }
    }
  }
}

.move-wrap{
  @extend %clear;
}

  .move-spinner{
    float: right;

    .pos-x{
      margin-bottom: 12px;
    }

    label{
      display: inline-block;
      vertical-align: middle;
    }

    input{
      display: inline-block;
      width: 46px;
      height: 45px;
      margin: 0 2px 0 3px;
      border: 1px solid #9eb2c0;

      font-size: 24px;
      line-height: 45px;
      text-align: center;
      vertical-align: middle;

      border-radius: 3px;
    }
  }

  .move-field{
    float: left;
    height: 102px;
    width: 102px;
    border-radius: 10px 10px 0 0;


    td{
      width: 34px;
      height: 34px;
      border: 1px solid #9eb2c0;

      background: #dbe1e8;
      transition: background 0.2s;

      &:hover,
      &.active{
        background: $color-btn;
      }
    }
  }

    .spinner-group{
      display: inline-block;
      vertical-align: middle;

      a{
        display: block;
        width: 14px;
        height: 19px;
      }
    }



/*
*  Adding myself
*/

.img-area{
  display: inline-block;
  position: relative;

  .wm{
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
  }
}